<div>
    Name: <input [(ngModel)] ="loan.name" type = "text" value = "" />
    Age: <input [(ngModel)] ="loan.age"type = "number" value = "" />
    Occupation: <input [(ngModel)] ="loan.occupation" type = "text" value = ""/>
    Birthday: <input [(ngModel)] ="loan.birthday" type = "text" value = ""/>
    House Status: <input [(ngModel)] ="loan.houseStatus" type = "text" value = ""/>
    Rent Cost: <input [(ngModel)] ="loan.rentCost" type = "number" value = ""/>
    Yearly Net Income: <input [(ngModel)] ="loan.yearlyNetIncome" type = "number" value = ""/>
    Requested Loan Amount: <input [(ngModel)] ="loan.requestedLoanAmount" type = "number" value = ""/>
    Approved Loan: <input [(ngModel)] ="loan.approvedLoan" type = "number" value = ""/>
    
</div>


<button (click) = "update()">update loan</button> 
