<div>
    Name: <input [(ngModel)] ="loan.name" />
    Age: <input [(ngModel)] ="loan.age" />
    Occupation: <input [(ngModel)] ="loan.occupation" />
    Birthday: <input [(ngModel)] ="loan.birthday" />
    House Status: <input [(ngModel)] ="loan.houseStatus" />
    Rent Cost: <input [(ngModel)] ="loan.rentCost" />
    Yearly Net Income: <input [(ngModel)] ="loan.yearlyNetIncome" />
    Requested Loan Amount: <input [(ngModel)] ="loan.requestedLoanAmount" />
    Approved Loan: <input [(ngModel)] ="loan.approvedLoan" />
    
</div>


<button (click) = "update()">update loan</button> 
