Name:<input [(ngModel)]= "createLoan.name" type = "text" value = "">
<br>


<!-- <div class="grid-container" id="gridContainer">
    <div *ngFor="let loan of loans" id="loans">

        <p id ="text" > Title:</p> {{loan.name}}
        <p id ="number" > Title:</p> {{loan.age}}
        <p id ="text" > Title:</p> {{loan.occupation}}
        <p id ="text" > Title:</p> {{loan.birthday}}
        <p id ="text" > Title:</p> {{loan.houseStatus}}
        <p id ="number" > Title:</p> {{loan.rentCost}}
        <p id ="number" > Title:</p> {{loan.yearlyNetIncome}}
        <p id ="number" > Title:</p> {{loan.requestedLoanAmount}}
        <p id ="number" > Title:</p> {{loan.approvedLoan}}
    <br>
    </div>
</div>

-->







