<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app.component.scss">
    


</head>
<body>
   

  <!-- Body Container -->
  <div class="loans-container" >
    <form class="data-for-loans">
      <!-- Banner -->
      <div class="title">

        <h1>Loans</h1>
      </div>
      
      <div id="button_div">
      <p>
        <a routerLink="/loans"><button type = "button" id = "wrapper" class="shadow" value="Shadow">Loans</button></a>

        || <a routerLink="/loans/create">
          <button type = "button" id = "wrapper" class="shadow" value="Shadow">Create</button></a>
        </p>
      </div>

      <router-outlet></router-outlet>
      
    </form>
  </div>

</body>
</html>